* {
  margin: 0;
  padding: 0;
}

#heading {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 90%;
  line-height: 100px;
  background: #2172b4aa;
  color: #195688;
  text-align: center;
  border: 3px solid rgb(15, 51, 97);
  border-radius: 5px;
}
#headColor {
  color: #58c5ff;
}

#Score {
  height: 50px;
  max-width: 80%;
  width: 100%;
  text-align: center;
  background: #2172b4;
  margin: 0 auto;
  line-height: 50px;
  border: 2px solid rgb(154, 154, 154);
  border-collapse: collapse;
}

#NewMatchTable {
  height: 110px;
  width: 80%;
  margin: 0 auto;
  background: #2172b4;
  text-align: center;
}

#winner {
  height: 50px;
  width: 80%;
  text-align: center;
  background: #2172b4;
  margin: 0 auto;
  line-height: 50px;
  border: 2px solid rgb(154, 154, 154);
  border-collapse: collapse;
}

#colorWin {
  color: #58c5ff;
}

th,
td {
  border: 2px solid rgb(154, 154, 154);
  color: rgb(255, 255, 255);
}

th {
  background-color: #195688;
}

button {
  margin-top: 20px;
  height: 50px;
  width: 120px;
  background-color: #195688;
  color: antiquewhite;
}

#pName {
  background-color: #195688;
  color: #58c5ff;
}

#p1form {
  margin-top: 20px;
  height: 50px;
  width: 120px;
  background-color: #195688;
  color: #58c5ff;
  float: left;
  position: relative;
  left: 60px;
  font-size: 26px;
}

#p2form {
  margin-top: 20px;
  height: 50px;
  width: 120px;
  background-color: #195688;
  color: #58c5ff;
  float: right;
  position: relative;
  right: 60px;
  font-size: 26px;
}

#create {
  margin-top: 20px;
  height: 50px;
  width: 120px;
  background-color: #195688;
  color: #58c5ff;
  position: relative;
  left: 46%;
  font-size: 26px;
}

#formLeft {
  float: left;
  margin-left: 40px;
}
#newgame {
  height: 50px;
  width: 200px;
  background-color: #195688;
  color: #58c5ff;
  position: relative;
  left: 52%;
  font-size: 26px;
}
#formRight {
  float: right;
  margin-right: 40px;
}
#matches {
  height: 50px;
  width: 200px;
  background-color: #195688;
  color: #58c5ff;
  position: relative;
  right: 52%;
  font-size: 26px;
}

#p1 {
  float: left;
  position: relative;
  left: 60px;
}

#p2 {
  float: right;
  position: relative;
  right: 60px;
}
#Search {
  display: inline-block;
}

#ListMatchces {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #2172b4;
  height: 80px;
  width: 80%;
  text-align: center;
}
#but {
  text-align: center;
  height: 30px;
  background-color: #195688;
  color: #58c5ff;
}
#all {
  width: 50%;
  text-align: right;
  position: relative;
  right: 70px;
}
#back {
  float: left;
  margin-left: 70px;
  height: 34px;
  width: 130px;
  background-color: #195688;
  color: #58c5ff;
  font-size: 22px;
}

